.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 15px 40px;
  // margin: auto;
  color: inherit;
  height: 100px;

  a {
    text-decoration-line: none;
    color: inherit;
  }

  &_title {
    font-size: 40px;
    font-weight: 700;

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }

  &_list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 10px;

    a {
      &:hover {
        color: blue;
        text-decoration: underline;
      }
    }

    button {
      background-color: transparent;
      font-size: 20px;
      font-weight: 550;
      outline: none;
      border: none;
      display: flex;
      align-items: center;       /* 세로 중앙 정렬 */
    }
  }
}

